<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjrb.bizman.module_two">

    <application
        >
        <activity android:name="com.zjrb.bizman.module_two.ModuleTwoActivity">
        </activity>
    </application>

</manifest>